*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:#FFFFFF;

color:#333;

display:grid;

grid-template-columns:1fr;

gap:20px;

padding:20px;

justify-items:center;

}

header{

width:100%;

display:flex;

justify-content:space-between;

align-items:center;

max-width:900px;

}

h1{

color:#FF4500;

}

#toggle{

background:#FF4500;

border:none;

padding:8px 14px;

color:white;

border-radius:6px;

cursor:pointer;

}

form{

max-width:600px;

width:100%;

}

#inputBox{

width:100%;

padding:12px;

border:2px solid #FF4500;

border-radius:6px;

}

#suggestions{

background:white;

list-style:none;

border:1px solid #ddd;

}

#suggestions li{

padding:6px;

cursor:pointer;

}

#suggestions li:hover{

background:#eee;

}

#historySection{

max-width:600px;

width:100%;

border:1px solid #ddd;

padding:10px;

border-radius:6px;

}

#historyList li{

cursor:pointer;

padding:4px;

}

.card{

display:grid;

grid-template-columns:150px 1fr;

gap:20px;

background:#fff;

border:1px solid #ddd;

padding:20px;

border-radius:10px;

max-width:800px;

width:100%;

}

.avatar{

width:150px;

height:150px;

border-radius:50%;

border:4px solid #FF4500;

}

.user-info ul{

display:flex;

gap:15px;

margin:10px 0;

list-style:none;

}

.repo{

display:inline-block;

background:#FF4500;

color:white;

padding:5px 10px;

margin:4px;

border-radius:6px;

text-decoration:none;

}

.profileBtn{

display:inline-block;

background:#FF4500;

color:white;

padding:7px 12px;

border-radius:6px;

text-decoration:none;

margin-top:10px;

}

#chartSection{

max-width:500px;

width:100%;

}

.dark{

background:#121212;

color:white;

}

.dark .card{

background:#1e1e1e;

border-color:#333;

}

.dark #inputBox{

background:#1e1e1e;

color:white;

}

.dark #suggestions{

background:#1e1e1e;

color:white;

}
